body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

.section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

img {
    width: 300px;
}
